

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Components &mdash; Symfony2Docs v1 documentation</title>
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony2Docs v1 documentation" href="../index.html" />
    <link rel="next" title="The ClassLoader Component" href="class_loader.html" />
    <link rel="prev" title="How Symfony2 differs from symfony1" href="../cookbook/symfony1.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="class_loader.html" title="The ClassLoader Component"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="../cookbook/symfony1.html" title="How Symfony2 differs from symfony1"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony2Docs v1 documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-components">
<h1>The Components<a class="headerlink" href="#the-components" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="class_loader.html">The ClassLoader Component</a></li>
<li class="toctree-l1"><a class="reference internal" href="console.html">The Console Component</a></li>
<li class="toctree-l1"><a class="reference internal" href="css_selector.html">The CssSelector Component</a></li>
<li class="toctree-l1"><a class="reference internal" href="dom_crawler.html">The DomCrawler Component</a></li>
<li class="toctree-l1"><a class="reference internal" href="finder.html">The Finder Component</a></li>
<li class="toctree-l1"><a class="reference internal" href="http_foundation.html">The HttpFoundation Component</a></li>
<li class="toctree-l1"><a class="reference internal" href="locale.html">The Locale Component</a></li>
<li class="toctree-l1"><a class="reference internal" href="process.html">The Process Component</a></li>
<li class="toctree-l1"><a class="reference internal" href="routing.html">The Routing Component</a></li>
<li class="toctree-l1"><a class="reference internal" href="yaml.html">The YAML Component</a></li>
</ul>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="../cookbook/symfony1.html"
                        title="previous chapter">How Symfony2 differs from symfony1</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="class_loader.html"
                        title="next chapter">The ClassLoader Component</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/index.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" size="18" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="class_loader.html" title="The ClassLoader Component"
             >next</a> |</li>
        <li class="right" >
          <a href="../cookbook/symfony1.html" title="How Symfony2 differs from symfony1"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony2Docs v1 documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2012, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.0.7.
    </div>
  </body>
</html>